<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find turtlebot3_navigation)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <arg name="first_tb3" default="tb3_0"/>
  <arg name="second_tb3" default="tb3_1"/>

  <!-- rviz -->

  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
  </group>


  <group ns = "$(arg first_tb3)">
   <param name="tf_prefix" value="$(arg first_tb3)"/>
   <include file="$(find turtlebot3_67301)/launch/turtlebot3_navigation.launch">
   <arg name="map_file" value="$(arg map_file)"/>
   </include>
  </group>

  <group ns = "$(arg second_tb3)">
   <param name="tf_prefix" value="$(arg second_tb3)"/>
   <include file="$(find turtlebot3_67301)/launch/turtlebot3_navigation.launch">
   <arg name="map_file" value="$(arg map_file)"/>
   </include>
  </group>
  
</launch>
